<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opção 04</title>
</head>
<body>
    <h1>Aqui temos várias opções de Pizzas</h1>
    <h2>Sabores</h2>
    <ul>
        <li>Frango com Catupiry</li>
        <img src="" alt="">
        <p>Preço: R$35,00</p>
        <p>Quantidade: 10 unidades restantes</p>
        <li>Calabresa</li>
        <p>Preço: R$35,00</p>
        <p>Quantidade: 10 unidades restantes</p>
        <img src="" alt="">
        <li>Três Queijos</li>
        <img src="" alt="">
        <p>Preço: R$35,00</p>
        <p>Quantidade: 10 unidades restantes</p>
        <li>Alho</li>
        <img src="" alt="">
        <p>Preço: R$35,00</p>
        <p>Quantidade: 10 unidades restantes</p>
    </ul>
</body>
</html>